.bg-noise {
    font-size: 4rem;
    color: white;
  }
  .bg-noise::before {
    content: "";
    position: fixed;
    left: -10rem;
    z-index: 9999;
    top: -10rem;
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);
    /* background-color: red; */
    background-image: url(noise.png);
    opacity: 0.65;
    pointer-events: none;
    animation: noise 1s steps(2) infinite;
  }